Checks: '-*,modernize-*,readability-*,misc-*,llvm-*,cppcoreguidelines-*,clang-analyzer-*,performance-*,-google-runtime-references,-cppcoreguidelines-avoid-c-arrays,-modernize-avoid-c-arrays'
FormatStyle: LLVM